@{Layout = "~/Views/Shared/_LayoutExNav.cshtml";}
<div class="row text-center">
    <div class="col-xs-12 col-padding-top col-padding-bottom">
        <h1 class="h1-index"><span><i class="fab fa-xbox"></i></span> CONSOLE <span><i class="fab fa-playstation"></i></span></h1>
    </div>
    <div class="col-xs-12 col-padding-bottom">
        <img class="img-fluid" src="~/images/lfg-white.png" alt="LFG Logo White" width=45%>
    </div>
    <div class="col-xs-12">
        <a class="glyph-login" href="/login"><span><i class="fas fa-sign-in-alt"></i></span></a>
    </div>
</div>

