@model UserLogin
@{Layout="~/Views/Shared/_LayoutExNav.cshtml";}
<div class="row">
    <div class="col-xs-12 col-padding">
        <form class="form-white" asp-action="ProcessLogin" asp-controller="User" method="post">
            <h1>Login</h1>
            <hr>
            <div class="validation-summary" asp-validation-summary="All"></div>
            <div class="form-group">
                <input asp-for="LoginEmail" type="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input asp-for="LoginPassword" type="password" placeholder="Password">
            </div>
            <button class="btn btn-primary text-uppercase">Login</button>
            <p>No account? <span><a href="/register">Create one!</a></span></p>
            <h2 class="text-center"><span><img src="~/images/lfg-black.png" alt="LFG Logo" width=50></span> <span><i class="fab fa-xbox"></i></span> <span><i class="fab fa-playstation"></i></span></h2>
        </form>
    </div>
</div>